h3{
 color:var(--moto-teal);
}

p{
  width:90%;
  word-wrap: break-word;
  margin-left:20px;

}

a{
pointer-events: none;
text-decoration: none;
color:black;
}

.title{
font-weight: 300;
margin-left:20px;
}

.nft-img{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center center;
} 

.clickable{
  pointer-events: all;
  text-decoration: underline;
  color:var(--moto-teal);
}

.nft-info-sub-containers{
  flex-grow: 1;
  min-width: 100px;
}

#nft-container{
  margin:auto;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  gap:8px;
  justify-content: space-evenly;
  width:99%;
  height:auto;
}

#top-info{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


#nft-info{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top:10px;
  font-weight:200;
  width:100%;
  height:auto;
}

#back-button{
  font-size: 1.5rem;
  margin-right:20px;
  background:white;
  border:0;
}

#management-bar{
  margin-bottom:10px;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

#manage-button{
  background-color: var(--moto-blue);
  margin-right:20px;
}
