#product-page{
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}

#product{
  display: flex;
  flex-wrap: wrap;
  margin-top:100px;
  width:90%;
   background-color: white;
   border-radius: 8px;
}

#product-image-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

#product-image{
  object-fit: cover;
  object-position: center center;
  max-width:100%;
max-height:100%;
}

.content-containers{
   flex: 1 1 40%; /*  Stretching: */
   width:100%;
}

#product-details{
  background-color: white;
  word-wrap: break-word;
  padding:15px;
}


.box-shadow{
  box-shadow:
  0 2.1px 2.2px rgba(0, 0, 0, 0.02),
  0 5.1px 5.3px rgba(0, 0, 0, 0.028),
  0 9.5px 10px rgba(0, 0, 0, 0.035),
  0 17px 17.9px rgba(0, 0, 0, 0.042),
  0 31.8px 33.4px rgba(0, 0, 0, 0.05),
  0 76px 80px rgba(0, 0, 0, 0.07);
;
}

h4{
  padding: 0px;
  margin: 0px;
}

#button-container{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  width:80%;
  gap:1vw;
}

.product-button{
  padding:10px 14px;
  border:none;
  border-radius: 8px;
  font-size: 0.8em;
}

 p{
color:var(--moto-teal);

}
#buy-button{
  background-color: #237D13;
  color:White;
}

#bid-button{
  background-color: #FC670D;
  color:white;
}

#sell-button{
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
  cursor: pointer;
  pointer-events: all;
  padding:12px 20px;
  border-radius: 8px;
  border:none;
  margin-top:8px;
}