
<form id="make-tier-form" [formGroup]="tierForm">
  <h2 class="moto-title">manage tier</h2>
  <input type="text" placeholder="    name your tier" formControlName="name" />
  <textarea cols="40" rows="5" placeholder="    give a short description" formControlName="desc"></textarea>
  <input type="number" placeholder="    set a price in moto" formControlName="price" />
  <button class="moto-button" (click)="changeTier()">done</button>
</form>
<div id='loading' *ngIf = "loading">
  <img src="../../../assets/loading.webp"/>
</div>