<div id="create" *ngIf="visible">
  <div id="options-bar">
    <button id="options-button" (click)="options()">
      <fa-icon [icon]="optionsIcon" id="options-button"></fa-icon>
    </button>
  </div>
  <h3 class="error" *ngIf="errorMessage">{{errorMessage}}</h3>
  <form id="create-form" [formGroup]="nftForm">

    <h3>what's the name?</h3>
    <input class="text-inputs" type="text" placeholder="    optional" formControlName="name" />
    <div *ngIf="moreOptions">
      <h3>Network</h3>
      <select formControlName="chainId" id="chainId" (change)="isValidForm()">
        <!--<option value="56" selected>(BSC) (Mainnet) Binance SmartChain  </option>-->
        <option value="97">(BSC-TestNet) (TestNet) Binance SmartChain </option>
        <option value="1337">Ganache </option>
      </select>

      <h3>Owner</h3>
      <input class="text-inputs" type="text" placeholder=" address" formControlName="owner" (change)="isValidForm()" />
    </div>
    <div id="upload-bar">

      <div id="upload-label-and-icon-container">

        <label id="upload-label" for="upload-field" class="custom-file-upload">
          <h3 id="upload-title">upload</h3>

        </label>

      </div>
      <p id="upload-file-name">{{filename}}</p>
    </div>

    <input id="upload-field" type="file" required (change)="handleFile($event);isValidForm()" />
  </form>


  <br>
  <div id="bottom-button-row" *ngIf="!loading">
    <button id="init-account-button" *ngIf="!account" (click)="initAccount()">log in first</button>
    <button id="mint-button">
      <fa-icon [icon]="mintButton" [ngClass]="{'mint-unlocked':formValidityForUI}" (click)="createNFT()">
      </fa-icon>
    </button>

    
  </div>
<div id="loading" *ngIf="loading">
  <img id="loading-img" src="../../assets/loading.webp">
</div>
</div>

<div id="transaction-pending" *ngIf="!visible">
<p style="font-weight:200"> we're working in the background. you can navigate away or wait a bit for the results.</p>
</div>