<div id="action-container" *ngIf="!updating">
  <h2 class="moto-title title">allow <span class="moto-name">moto </span> <span class="moto-sub-system">sancus </span>
    to manage this item</h2>
  <div class="row-info">
    <div class="button-section">
      <button class="moto-button action-button" id="single-permission-button" 
      [ngClass]="{'disabled-button':allowOne}" (click)="grantMarketSinglePermission()">allow </button>
    </div>
    <div class="explaination-section">
      <p class="description">
        <span class="moto-name">moto </span> <span class="moto-sub-system">sancus </span> is one of the independent
        subsystems of the <span class="moto-name">moto</span> network that is responsible for executing and securing
        sales and trades. we only have control over the fees related to commissions or adding to the market; all other
        functions are executed independently and deterministically.
      </p>
    </div>
  </div>
  <h2 class="moto-title title">allow <span class="moto-name">moto</span> to manage all future items on this network</h2>
  <div class="row-info">

    <div class="button-section">
      <button class="moto-button action-button" id='multiple-permission-button'
      [ngClass]="{'disabled-button':allowAll}">allow </button>
    </div>
    <div class="explaination-section">
      <p class="description">this item is currently registered on {{getNetwork(nft.chainId)}}
        would you like to allow <span class="moto-name">moto </span> <span class="moto-sub-system">sancus</span>
        to manage all items on this network?
      </p>
    </div>
  </div>

  <h2 class="moto-title title">add to market</h2>
  <div class="row-info" id='sell-section'>
    <form id="sell-form" [formGroup]="sellingForm">
      <div id='input-price-bar'>
<input id="price-input" type="number" formControlName="price" (input)="checkInput()">
<h3 class="thin" id="currency-name"> <span class="moto-name">moto</span> <span style="font-weight:300">coins</span></h3>
      </div>
      
    </form>
    <button class="moto-button action-button" id='sell-button' 
    [ngClass]="{'disabled-button':!readyForMarket,'yellow-light':yellowLight  && !readyForMarket}" 
     (click)="addToMarket()">sell </button>
    
  </div>

  
</div>
<div id="updating" *ngIf="updating">
  <div id="loading">
    <img src="../../../assets/loading.webp" style="width:400px;height:auto">
  </div>
  <h2 style="font-weight:200">please wait while we update the blockchain.</h2>
</div>