#nft-results{
  display:flex;
  flex-direction: column;
  width:100%;
  padding-left:5%;
  height:100%;
}

h2{
  font-weight:400;
}

h3{
  font-weight:600;
  margin-bottom:10px;
  padding:0;
  color:var(--moto-teal);
}

.title {
  font-weight:bold;
}

p{
  width:86%;
  font-size: 1.3rem;
  overflow : hidden;
  text-overflow: ellipsis;
}

span{
  display:inline-block;
  width:200px;
}