<div id="on-ramp">
 
  <div id="transaction-input">
    <h2>Buy Crypto</h2>

    <form id="onRampForm" [formGroup]="onRampForm">  
      <p>You Pay</p>
      <input type="text" placeholder="Enter Amount" formControlName="fiatAmount" (change)="estimateBTC()" required/>
      <p>You Receive</p>
      <input type="text" placeholder="Enter Amount" formControlName="cryptoAmount" required/>
      <p>Your Bitcoin (BTC) Address</p>
      <input type="text" placeholder="Enter BTC Address" formControlName="btcAddress" (change)="validateBTCAddress()" required/>
     <!--add drop down menus-->
      

    </form>
    <div id="error-notifcation-bar">
      <p class="error-message" *ngIf="invalidAddress">improper Bitcoin (BTC) address</p>
      <p class="error-message" *ngIf="invalidFiat">invalid fiat amount</p>
      <p class="error-message" *ngIf="invalidCrypto">invalid cryptocurrency amount</p>

    </div>
    <div id="executeOrderContainer">
      <button (click)="finalCheck()" style="margin-bottom:2%">Create Order</button>
    </div>
    
  </div>
</div>