<div id="create-nft">
  <div id="title-content">
    <h1 class="title">
      Create a new NFT here
    </h1>
    <div *ngIf="!account">
      <h4 style="font-weight: 400;">
        <span style="color:red">No Account Detected:</span>
      </h4>
      <button id="initializeButton" 
      (click)="initializeAccount()">Initialize Account</button>
    </div>
    
    <h3 class="error" *ngIf="errorMessage">{{errorMessage}}</h3>

  </div>
 
  <form id="createNFT" [formGroup]="nftForm">
    <h3>NFT Name</h3>
    <input class="text-inputs" type="text" placeholder=" name" 
    formControlName="name" (change)="validateName();checkForm()" />
    <h3>Network</h3>
    <select formControlName="chainId" id="chainId" (change)="checkForm()">
      <!--<option value="56" selected>(BSC) (Mainnet) Binance SmartChain  </option>-->
      <option value="97">(BSC-TestNet) (TestNet) Binance SmartChain </option>
    </select>
    <h3>Beneficiary</h3>
    <input class="text-inputs" type="text" placeholder=" address" 
    formControlName="beneficiary" 
    (change)="validateAddress();checkForm()" required/>
    <h3>Input file</h3>
    
  </form>
  <label for="mint-nft-button" class="custom-file-upload">
    <input id="browse-button" type="file" 
    (change)="handleFile($event);checkForm()" required/> 
    Upload File
  </label>
<br>
<div style="display:flex;flex: row;justify-content: flex-end; padding-right:20px;">
<button class="mint-nft-button" [ngClass]="{'minting-ready':formValid}" (click)="prepareInput()">Mint</button>
</div>
  
</div>