img{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2{
  color:var(--moto-teal)
}
h3{

}
input{
  height:35px;
  border:none;
  border-radius: 8px;
  background-color: azure;
}

button{
 background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
  cursor: pointer;
  pointer-events: all;
  border:0;
  border-radius:8px;
  margin-top:20px;
  width:100px;
  height:33px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}
#loading{
  width:60px;
  height:60px;
  margin-top:20px;
}