#header{  
  display:flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width:100vw;
  margin:auto;
}


#header-logo{
  margin-left:2vw;
  width:auto;
  height:100%;
}

#top-menu-center-container{
  display:flex;

  flex-direction: row;
  justify-content: space-between;

  width:auto;
}

#top-menu-center-container > a{
display:block;
width:25vw;
}


.active-link {
  background: #46c3d1;
  border:none;
  color:#011734;
  font-weight:bold;
}

  
.login-button {
  display:block;
  margin:5px;
  padding:12px 26px;
  border:0px;
  border-radius: 4px;
  color:white;
  font-weight: bold;
  font-size:16px;
  background-color: #011734;
}

#user-icon{
  margin-right:2vw;
}

#login-button-group{
  display:flex;
  flex-direction: row;
  gap:5vw;
}

.icon {
  margin-top:5px;
  background-color: transparent;
  color:#011734;
  max-width: 10vw;
  max-height: 10vw;
  width:20px;
  height:20px;
  display:block;
}




#right-menu-container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  gap:5vw;
  margin-right:2vw;
  width:auto;
}


.user-icons{
  color:#46c3d1;
}