#header{  
  display:flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width:100vw;
  margin:auto;
}


#top-menu-center-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  gap:2%;
}


.active-link {
  background: #46c3d1;
  border:none;
  color:#011734;
  font-weight:bold;
}


.login-button {
  display:block;
  margin:5px;
  padding:12px 26px;
  border:0px;
  border-radius: 4px;
  color:white;
  font-weight: bold;
  font-size:16px;
  background-color: #011734;
}


.signup-button {
  display:block;
  margin:5px;
  padding:12px 26px;
  border:2;
  border-radius: 4px;
  color:#011734;
  font-weight: bold;
  font-size:16px;
  border-color: #011734;
  background-color: white;
}

#login-button-group{
  display:flex;
  flex-direction: row;
}

.icon {
  display:flex;
  flex-direction: row;
  margin:5px;
  padding:12px 12px;
  border:0px;
  border-radius: 4px;
  background-color: transparent;
  color:#011734;
  font-size: 40px;

}

.icon-image {
  max-height:40px;
}


#right-menu-container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  gap:5px;
}

.nav-button {
  padding:10px;
  background-color: #011734;
  color:white;
  border:0px;
  border-radius:4px;

}



#header-logo{
  width:auto;
  height:auto;
  max-height: 80px;
}

#menu-img {
  max-width: 32px;
  max-height:32px;
  
}

#holder{

}