<div id="header">

  <img routerLink='/' id="header-logo" src="../../../assets/moto-logo2.png" width="80px" height="60px">
  <a id="user-icon" routerLink="{{userIconLink}}">
    <fa-icon [icon]="user" [ngClass]="{'logged-in':account}"></fa-icon>
  </a>
  
</div>

<div id='top-bar' class="box-shadow">
  <div id="top-bar-left">
    <a class="top-bar-links" (click)="goToPage('create')">upload</a>
    <a class="top-bar-links" (click)="goToPage('discover')">discover</a>
    <a class="top-bar-links" [routerLink]="['market']" style="text-decoration: none;color:black">shop</a>
  </div>
  <div id="top-bar-right">
    <form id="search-form" [formGroup]="searchForm">
      <input id="search-input" (keydown)="keyDownFunction($event)" type="text" placeholder={{placeholder}} formControlName="searchInput" />

    </form>
    <button id="search-button" (click)="search()">
    <fa-icon id="search-icon" [icon]="searchIcon" ></fa-icon>
    </button>
  </div>
</div>

<div id="main-content-container" class="box-shadow">
  <router-outlet>
  </router-outlet>
</div>

