#header{  
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:98vw;
  max-width: 1200px;
  height:auto;

  margin-left:auto;
  margin-right:auto;
  align-items: center;
  margin-top:15px;
  border-radius:8px;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

}


#header-segment{
background-color: white;
width:80%;
height:100%;
}

#header-logo{
  height:100%;
  margin-left:20px;
  cursor: pointer;
}

#header-address{
  color:var(--moto-blue);
}

.active-link {
  background: #46c3d1;
  border:none;
  color:#011734;
  font-weight:bold;
}

  
.login-button {
  display:block;
  margin:5px;
  padding:12px 26px;
  border:0px;
  border-radius: 4px;
  color:white;
  font-weight: bold;
  font-size:16px;
  background-color: #011734;
}




#user-icon{
  font-size: 1.7rem;
  color:grey;
  margin-right:20px;
}

.logged-in{
  color:green;
}

#top-bar{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:98vw;
  max-width:1200px;
  height:50px;
  margin:auto;
  margin-top:15px;
  margin-bottom:10px;
  background-color: white;
  border-radius: 8px;
  align-items: center;

}

#top-bar-left{
  width:48%;
}

.top-bar-links{
margin-left:30px;
font-weight:200;
cursor: pointer;
}

#top-bar-right{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:48%;
  height:100%;
}

#search-form{
  width:90%;
  height:70%;
  margin-right:30px;
}

#search-input{
  height:100%;
  display:block;
  width:100%;
  border:0;
  border-radius: 4px;
  background-color:#EFF9FB ;

}

#search-icon{
  color:var(--moto-teal);
  margin-right:25px;
  font-size:1.4rem;
}

#search-button{
  background-color:white;
  border:0;
  width:auto;
  height:auto;
  cursor:pointer;
}
#main-content-container{
  display:flex;
  flex-direction: column;
  width:98vw;
  max-width:1200px;
  min-height: 300px;
  height:auto;
  margin:auto;
  margin-top:20px;
  margin-bottom:30px;
   border-radius:8px;
  background-color: white;
}

::-webkit-input-placeholder {
   color: var(--moto-blue);
}

::-moz-placeholder {
   color: var(--moto-blue);
}

:-ms-input-placeholder {  
   color: var(--moto-blue);
}::-webkit-input-placeholder {
   color: var(--moto-blue);
}

::-moz-placeholder {
   color: var(--moto-blue);
}

:-ms-input-placeholder {  
   color: var(--moto-blue);
}