<div id="header">
  <div id="logo-container">
    <img  routerLink='/' id="header-logo" src="../../../assets/moto-logo2.png" width="80px" height="60px">
  </div>

    


      <a  routerLink='/nft_marketplace'>
        <img  class="icon" src="../assets/peer-to-peer.svg" />
      </a>
      <a  *ngIf="activeUserBool" routerLink='/user_dashboard'>
       <img class="icon" src="../assets/wallet-filled-money-tool.png"/>
      </a>
  

    

      <a id="user-icon" class="button icon">
        <fa-icon routerLink='/account' [icon]="userIcon"></fa-icon>
      </a>
      

    


</div>

<div id="holder">
  <router-outlet>
  </router-outlet>
</div>