<div id="buyer-menu">
  <div  id="top-info">
    <h2 class="moto-title">{{nft.name}}</h2>
  </div>
  <div class="info" id="price">
    <h1>{{shortenPrice(getFormattedPrice(price.toString()))}} <span class="moto-name">moto</span></h1>
    <p class="small-font">{{numberWithSpaces(getFormattedPrice(price.toString()))}}</p>
  </div>
  <div class="info">
    <h2 id="approved-amount">{{shortenPrice(allowance.toString())}} 
      <span class="moto-name">moto</span>  
      <span style="color:black"> available for this purchase</span></h2>
    <p class="small-font">{{numberWithSpaces(getFormattedPrice(allowance.toString()))}}</p>
    
  </div>
  <div class="info">
    <p class="desc">
      approve funds for purchase. (<span class="moto-name"> transferless </span> 
      <span class="moto-sub-system">escrow </span>)
    </p>
    <p class="desc">
      no money can ever leave your account unless you make a purchase.
    </p>
  </div>
  <div class="info" id="buttons">
    <div>
     <!-- <button class="moto-button" id="increase-button"
      [ngClass]="{'disabled-button':!nft}">approve more</button>-->
    </div>
    <div>
      <button class="moto-button" id="exact-amount-button" 
      (click)="approveExactAmount()" 
      [ngClass]="{'disabled-button':!nft && isApprovedSufficient()}">approve exact amount</button>
    </div>
   
  </div>
  <div id="buy-box" class="info">
    <button id="buy-button" class="moto-button" 
    [ngClass]="{'disabled-button':!isApprovedSufficient()}">
      buy
    </button>
  </div>
</div>