#profile{
  display:flex;
  flex-direction: column;

  width:98vw;
  max-width:1200px;
  min-height: 300px;
  height:auto;
  margin:auto;
  margin-top:20px;
  margin-bottom:30px;
}

#profile-header{
  display:flex;
  flex-direction: column;
  border-radius: 10px 10px;
  width:100%;
  background:linear-gradient(-45deg, #9ac5db,#FFD700, #e31b23);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height:300px;
  justify-content: space-between;

}

#title-bar{
  display:flex;
  flex-direction: column;
  background-color: white;
  width:auto;
  height:80px;
}

#hero-address{
  color:var(--moto-teal);
  text-align: center;
  word-wrap: break-word;
  margin:auto;

}

#profile-header-menu{
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  align-items: flex-end;
  height:20%;
    
}

#profile-info{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height:auto;
  min-height: 80px;
  width:99%;
  background-color: white;
  margin-bottom:20px;
  border-radius: 8px;
  padding:5px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
}

button{
  border:0;
  padding: 10px 14px;
  border-radius: 5px;
  
}

#commission-button{
  flex-grow:0;
  margin-bottom:24px;
  margin-right:24px;
  background: rgba(255,255,255,0.0);
  color:white;
  font-size: 1.3rem;
  font-weight:200;
  cursor: pointer;
  pointer-events: all;
   border-radius: 8px;
   border:2px solid white;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  height:50px;
}

#support-button{
  color:white;
  background-color:#F26457 ;
  font-size: 1.3rem;
  box-shadow: 0px 5px 8px #F26457;
  cursor: pointer;
  pointer-events: all;
}

#send-diamond-button{
  color:white;
  font-size: 1.3rem;
  background-color: #9ac5db;
   box-shadow: 0px 5px 8px #9ac5db;

  
  cursor: pointer;
  pointer-events: all;
}
#send-crown-button{
  color:white;
  font-size: 1.3rem;
  background-color: #FFD700;
   box-shadow: 0px 5px 8px #ffd900c5;

  
  cursor: pointer;
  pointer-events: all;
}
#send-heart-button{
  color:white;
  font-size: 1.3rem;
  background-color: #e31b23;
   box-shadow: 0px 5px 8px #e31b23;

  
  cursor: pointer;
  pointer-events: all;
}
#support{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  min-width:300px;
  max-width:50%;
  background-color: white;

}


#all-awards{
  display:flex;
  flex-direction: row;
  min-width:300px;
  justify-content: space-around;
  width:35%;
}

.award-subcontainerr{
  display:flex;
  flex-direction: row;
    flex-wrap: wrap;
  flex-basis: auto;
 flex-grow: 1;
 flex-shrink: 1;
 width:30%;
  
}
.award-number{
  display:inline;
  margin-left:12px;
}

#diamond{
  color:#9ac5db;
}
#crown{
  color:#FFD700;
}
#heart{
  color:#e31b23
}

.title{
font-weight: 300;
margin-left:20px;
}

#profile-sub-container{
  border-radius: 12px;
  background-color: white;
  padding-bottom:10px;

}

#gallery{
  margin:auto;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  gap:8px;
  justify-content: space-evenly;
  width:99%;
  height:auto;
}




/**
animations
*/



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}