<div id="profile">

  <div id="profile-header" class="box-shadow">
    <div id="title-bar">
      <p id="hero-address">
        {{address}}
      </p>
    </div>

    <!--<button id="commission-button">Request commission</button>-->
    <div id="profile-header-menu">
      <button id="commission-button" *ngIf="isCreator" (click)="comingSoon()">Request commission</button>
    </div>

  </div>

  <div id="profile-info" class="box-shadow">
    

    <div id="support">


      <button id="support-button">
        <fa-icon [icon]="support" (click)="comingSoon()"></fa-icon>
      </button>
      <button id="send-diamond-button">
        <fa-icon [icon]="diamond" (click)="comingSoon()"></fa-icon>
      </button>
      <button id="send-crown-button">
        <fa-icon [icon]="crown" (click)="comingSoon()"></fa-icon>
      </button>
      <button id="send-heart-button">
        <fa-icon [icon]="heart" (click)="comingSoon()"></fa-icon>
      </button>
    </div>

    <div id="all-awards">
      <div class="award-subcontainer">
        <fa-icon [icon]="diamond" id="diamond"></fa-icon>
        <p class="award-number">0</p>
      </div>
      <div class="award-subcontainer">
        <fa-icon [icon]="crown" id="crown" ></fa-icon>
        <p class="award-number">0</p>
      </div>
      <div class="award-subcontainer">
        <fa-icon [icon]="heart" id="heart" ></fa-icon>
        <p class="award-number">0</p>
      </div>
    </div>

  </div>
  <div id="profile-sub-container" class="box-shadow">
    <router-outlet></router-outlet>
  </div>


</div>