<div id="top-section">
  <div id="action-container">
    <div class="top-action-section" >
      <h2 class="moto-title">buy / sell / exchange <span class="moto-name">moto</span></h2>
      <h3 class="moto-title">
        <span class="moto-name">moto</span><span style="font-weight:400">coins</span>
        are used for buying nfts, subscribing to creators, paying for licenses, 
        and everything else.
      </h3>
      <button class="moto-button" (click)="exchangeCoins()">get moto coin</button>
    </div>
    <div class="top-action-section">
      <h2 class="moto-title">create a NFT</h2>
      <h3 class="moto-title">
        create an NFT to represent almost anything digital or physical.
      </h3>
      <button class="moto-button" (click)="createNFT()">create unique token</button>
    </div>
    <div class="top-action-section">
      <h2 class="moto-title">create content tiers</h2>
      <h3 class="moto-title">create subscriptions tiers for community support.</h3>
      <button class="moto-button" (click)="createTiers()">manage subscription tiers</button>
    </div>
  </div>
</div>