<div id="user_dashboard_container">

    <section id="left_pane">
        <dashboard-assets-cards [assetArray]="portfolioArray"></dashboard-assets-cards>
    </section>


    <section id="right_pane">
        <div class="title-section" id="portfolio-title-section">
            <h2 class="section_title">Portfolio Details</h2>


        </div>

        <div id="distribution">
            <h2>Balance</h2>

            <div class="balance">
                ${{123123010 | number}}
            </div>
            <div id="portfolio-action-buttons">
                <button class="button">ADD FUNDS</button>
                <button class="button">WITHDRAW FUNDS</button>
            </div>

        </div>
        <div id="graph">
            <app-chart [portfolio]="portfolio"></app-chart>
        </div>
        <div id="transactions-display">
            <transactions-component [uid]="uid"></transactions-component>
        </div>

    </section>

</div>