img{
  flex-shrink: 1;
  object-fit: contain;

  max-width:450px;
  max-height:450px;

}
a{
  text-decoration: underline;
  color:var(--moto-teal);
  cursor: pointer;
}

.content-row{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:10px;
  height:100%;
  border-radius: 8px;
}


.content-box{
  flex-direction: column;
  flex-grow: 1;
  flex-shrink:1;

  min-width:250px;

  min-height:150px;

  height:100%;

}

.title{
  font-weight:200;
}

.thin-text{
  font-weight:200;
}

.mini-info{
  margin:0;
  padding:0;

  word-wrap: break-word;
}

#info-row{
  justify-content: flex-start;
  max-width: 400px;
  margin-left:20px;
  margin-top:20px;
  flex-wrap:nowrap;
  align-items: center;
}
#mini-nft-info-box{
display:flex;
height:50px;
gap:8px;
flex-wrap: nowrap;
flex-direction: column; 
justify-content: flex-start;

}

#mini-name{
  margin:0;
  padding:0;
}

#image-container{
  width:100%;
  height:100%;

}

#mini-img{
  margin-right:10px;
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}



