/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Lato';
  src: local("./assets/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: 'Lato-Light';
  src: local("./assets/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato-Black";
  src: url("./assets/Lato/Lato-Black.ttf");
}

@font-face {
  font-family: "Lato-Thin";
  src: url("./assets/Lato/Lato-Thin.ttf");
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("./assets/Lato/Lato-Bold.ttf");
}

:root{
  --moto-teal:#46c3d1;
  --moto-blue:#011734;
  --moto-pink:#F25781;
}
html, body { 
  height: 100%; 
  width:100vw;
  background: rgb(236,246,247);
  background: radial-gradient(circle, rgba(236,246,247,1) 11%, rgba(255,255,255,1) 100%);
  /*background-image: url("./assets/moto-logo.png");
  background-repeat: repeat;*/
  margin:0; 
  font-family: "Lato", sans-serif;

}

  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.box-shadow{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.moto-button{
  padding:8px 18px;
  border:0;
  border-radius: 6px;
  outline: none;
  background:transparent;
  transition: 1s ease-in-out;
  cursor:pointer;
box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.moto-title{
  font-weight:200;
}

.moto-name{
  color:#46c3d1;
}

.moto-sub-system{
  color:#F25781;
}
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

.snackbar{
  background-color: #F25781;
  color:white;
}

.disabled-button{
    box-shadow: none;
    pointer-events: none;
    background: rgb(231, 231, 231) !important;
    color:gray !important;
}

#loading{
  display:flex;
  justify-content: center;
  align-items: center;
}

#loading-img{
  height:200px;
  width:200px;
}