/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Lato';
  src: local("./assets/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: 'Lato-Light';
  src: local("./assets/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato-Black";
  src: url("./assets/Lato/Lato-Black.ttf");
}

@font-face {
  font-family: "Lato-Thin";
  src: url("./assets/Lato/Lato-Thin.ttf");
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("./assets/Lato/Lato-Bold.ttf");
}

:root{
  --moto-teal:#46c3d1;
  --moto-blue:#011734;
}
html, body { 
  height: 100%; 
  width:100vw;
  /*background: rgb(236,246,247);
  background: radial-gradient(circle, rgba(236,246,247,1) 11%, rgba(255,255,255,1) 100%);*/
  background-image: url("./assets/background/webb.png");
  background-repeat: repeat;
  margin:0; 
  font-family: "Lato", sans-serif;

}

  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.spinner {
  margin: 10px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.box-shadow{
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
;
}