
#home {
  display:flex;
  flex-direction: column;
  background-color: white;
  width:98vw;
  max-width:1200px;
  min-height: 300px;
  height:auto;
  margin:auto;
  margin-top:30px;
  margin-bottom:30px;
  border-radius:8px;
}



