
#home {
  display:flex;
  flex-direction: column;
  background-color: white;
  width:98vw;
  max-width:1200px;
  min-height: 300px;
  height:auto;
  margin:auto;
  margin-top:10px;
  margin-bottom:30px;
  border-radius:8px;
}
#home-logo{
  width:100px;
  height:auto;
  margin-left:15px;
  margin-top:15px;
}
#hero{
  width:99%;
  height:auto;
  border-radius: 8px;
}

#hero-image{
  width:100%;
  height:auto;
  object-fit: contain;
}
