<div id="hero">
  <img id="home-logo" src="../../assets/name.jpg" />
</div>

<div class="home-content">
  <div id="left-hero-container" class="content-boxes">
    <div>
      <h4 class="title">
        leverage the decentralized web.
      </h4>
    <h1 class="title">
      make art?
    </h1>
    <h2 class="title">
    share, license, or sell on <span style="color:#46c3d1">moto</span>.
    </h2>
    <h3 class="title">
      crowd-fund or find patrons.
    </h3>
    <h3 style="color:red;font-weight:150">beta testing</h3>
    </div>
  </div>
  <div id="right-hero-container" class="content-boxes">
    <div id="img-container">
      <img id="hero-img" src="../../assets/hero-img2.jpg">
    </div>
  </div>
</div>
<div class="home-content">

</div>

<!--
      TODO
      
      make discover
      do echange
      search results
      redo login
      do wallet connect
      chinese backend
      JWT login
    -->