<div id="home">
  <div class="home-content-row">
   
    <div class="home-content-text dark sub-unit">
        <div class="home-text-container " >
          <h1>Fiat to Crypto On Ramp</h1>
          <button id="get-started-button">
            Buy Crypto Now
          </button>
        
      </div>
      
    </div>
    <div class='sub-unit light'>
      <img class="home-image smImg" src="../../assets/ICON-PNG.png">
    </div>
  </div>
  <div class="card">
    <div id="hero-text">
      <p>
        Moto bridges the gap between Creators and Consumers, Investors and Projects as an NFT Launchpad and Marketplace.
        Our decentralized solutions allow NFTs and other assets to be launched and managed at a low cost with minimal smart 
        contract coding. Our marketplace provides a multichannel strategy; thus maximizing opportunities to connect with 
        prospective consumers.
      </p>
    </div>
   
  </div>
  <div class="home-content-row">
    <div class='sub-unit light'>
      <img class="home-image smImg" src="../../assets/cloud_lock.svg">
    </div>
    <div class="home-content-text dark sub-unit">
        <div class="home-text-container " >
          <h1 class='big-text'>NFTs ICOs DAOs</h1>
   
        <h1>Games & more</h1>
  
        <h2><span style="color:#46c3d1">B2B B2C</span> or <span style="color:#46c3d1">P2P</span></h2>
        <h3>We help you leverage the blockchain to maximize value.</h3>
        <h1>Get on a major blockchain such as <span style="color:#46c3d1">Ethereum </span>or <span style="color:#46c3d1">Binance Smart Chain</span>.</h1>
        <h2>Or deploy your own private blockchain.</h2>
      </div>
      
    </div>
  </div>
  <div class="home-content-row">
   
    <div class="home-content-text dark sub-unit">
        <div class="home-text-container " >
        <h1>Sell assets on our open decentralized marketplace.</h1>
        <h2>Hosted on the Binance Smart Chain so transaction costs are low.</h2>
      </div>
    </div>

    <div class='sub-unit light'>
      <img class="home-image smImg" src="../../assets/04-min.png">
    </div>

    <div class="home-content-text" id="sign-up" >
      <div class="home-text-container " >
        <h1>Add your email to sign up for our closed beta</h1>
       
        <button routerLink='/signup'id="signup-button">Apply</button>
      </div>
    </div>
  </div>
</div>
