.title{
  font-weight:300;
}

.home-content{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap:wrap;
  width:99%;
  height:auto;
  min-height: 30px;
}

.title-row{
width:100%;
display:flex;
flex-direction: row;
justify-content: center;
}

.home-text{
  font-weight:200;
 line-height: 2.4ch;
}

.small-content-container{
  width:350px;
}

.content-boxes{

  font-weight:200;
  min-width:400px;
  min-height:400px;
  width: 48%;
  
}

.moto-title{
  color:var(--moto-teal);
}

#home-logo{
  width:100px;
  height:auto;
  margin-left:25px;
  margin-top:25px;
}

#upload-button{
  padding:10px 18px;
  background-color: var(--moto-teal);
  color:white;
  border-radius: 8px;
  border:0;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
cursor:pointer;
}

#left-hero-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  min-height:500px;
  width:48%;
  padding:5px;
  align-items: center;
}


#left-hero-container > p {
  margin-left:auto;
  margin-right:auto;
  
}

#right-hero-container{

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#img-container{
border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
#hero-img{
  width:320px;
  height:320px;
  object-position: center center;
  display:block;
  object-fit: cover;


}

