<div id="hero">
  <img id="home-logo" src="../../assets/name.jpg" />
</div>

<div class="home-content">
  <div id="left-hero-container" class="content-boxes">
    <div>
      <h4 class="title">
        leverage the decentralized web.
        *fix discover gallery
        *fix profile page gallery
        *when 'logged in'the login page shoulld show some stats or other information
        * generalize get owner for multiples NFT contracts
      </h4>
      <h1 class="title">
        make art?
      </h1>
      <h2 class="title">
        share, license, or sell on <span style="color:#46c3d1">moto</span>.
      </h2>
      <h3 class="title">
        crowd-fund or find patrons.
      </h3>
      <button id="upload-button" class="moto-button" (click)="goToCreate()">start now</button>
      <h3 style="color:red;font-weight:150">(beta testing mode)</h3>
    </div>
  </div>
  <div id="right-hero-container" class="content-boxes">
    <div id="img-container">
      <img id="hero-img" src="../../assets/hero-img2.jpg">
    </div>
  </div>
</div>
<div class="home-content">
  <div class="title-row">
    <h2 id="center-title" class="title">why <span class="moto-title">moto</span>?</h2>
  </div>

</div>
<div class="home-content">
  <div class="small-content-container">
    <h3 class="title">
      independence.
    </h3>
    <p class="home-text">
      your private key controls your assets.
      <br>
      buy, sell or license how you want.
      <br>
      because the structure is decentralized, even if there's no
      <span class="moto-title">moto</span>; your assets, transactions
      and contracts still exist on the decentralized web.

    </p>
  </div>
  <div class="small-content-container">
    <h3 class="title">
      transparency.
    </h3>
    <p class="home-text">
      our tech is open to review.
      <br>
      we make dealing on the decentralized web easier,
      <br>
      but you can do it on your own if you prefer as well.

    </p>
  </div>
  <div class="small-content-container">
    <h3 class="title">
      fairness.
    </h3>
    <p class="home-text">
      your success is our success.
      <br>
      our fees may range between 1 to 5 percent, depending on the service.
      and we're always working to make <span class="moto-title">moto</span>
      better.
      <br>


    </p>
  </div>
</div>
<div class="home-content">
  <br>
  <br>
  <br>
  <br>
  <br>
</div>