

#browse-page{
  width:90%;
  height:90%;
  margin:auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap:1em;
  grid-template-columns: 15% auto;
  grid-template-areas: "categories listed-nfts";

}

#categories-tab{
  grid-area: categories;
}

#categories-list{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: flex-start;


}


#search-filter-bar{
  display:none;
}

#categories-list > button {

  margin:5px;
  padding:12px 22px;
  text-align: left;
  border:0px;
  font-size: 16px;
  border-radius: 8px;
  width:auto;
}

#listed-nfts{
}

#create-nft{
  background-color: var(--moto-teal);
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
  cursor: pointer;
  pointer-events: all;
}